/* MORA BITI NA SAMOM VRHU */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden; /* Sprečava skrolovanje na TV-u */
}

/* Tvoja opacity klasa ako ti treba, ali ISPOD importa */
.custom-opacity {
  opacity: 0.5;
}